.detailCard {
    padding: 8px;
    background-color: orange;
    margin: 20px;
    text-align: left;
    min-width: 330px;
    max-height: 500px;
}

.editCard {
    padding: 8px;
    background-color: orange;
    margin: 20px;
    text-align: left;
    min-width: 780px;
}

.details{
    min-width: 270px;
}

.form{
    max-width: 350px;
}

.inline {
    padding-right: 40px;
}

.center {
    padding-left: 30px;
}

.edit {
    background-color: #61dafb;
}

.back {
    background-color: crimson;

}

.delete {
    background-color: crimson;
    color: #282c34;
    border: black;
    min-width: 60px;
    min-height: 30px;
}

.delete:hover {
    background-color: red;
    color: black;
}

.back {
    background-color: lightblue;
    color: #282c34;
    border: black;
    min-width: 60px;
    min-height: 30px;
}

.back:hover {
    background-color: deepskyblue;
    color: black;
}

.edit {
    background-color: lightcoral;
    color: #282c34;
    border: black;
    min-width: 60px;
    min-height: 30px;
}

.edit:hover {
    background-color: crimson;
    color: black;
}

b {
    padding: 10px;
}

