.inlineCar{
    display: inline-block;
    min-height: 100px;
    max-width: 80%;
}

.inline{
    display: inline-block;

}

.card {
    padding: 8px;
    background-color: orange;
    margin: 20px;
    text-align: left;
    min-width: 330px;
    max-width: 300px;
    max-height: 300px;
}

.pad {
    padding: 30px;
}

.create {
    background-color: deepskyblue;
    border: black;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.create:hover {
    background-color: cornflowerblue;
}