.inlineCar{
    display: inline-block;
    min-height: 100px;
    max-width: 80%;
}

.inline{
    display: inline-block;

}

.card {
    padding: 8px;
    background-color: darkorange;
    margin: 20px;
    text-align: left;
    min-width: 330px;
    max-width: 300px;
    max-height: 300px;
}

.pad {
    padding: 30px;
}